.container-login {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
}

.container-form {
  width: 400px;
  text-align: center;
  border: 2px solid black;
  padding: 50px 0;
  border-radius: 30px;
  background-color: #dedede;
}

.chat-icon {
  font-size: 5rem;
  color: rgb(58, 58, 58);
}

.container-form input {
  width: 70%;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 2px solid #a7a7a7;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
}
